/*CONTAINERS*/
.about{
    padding: 4.375rem 1rem 1rem 1rem;
    background: #1E1E1E;
    color: #FFFFFF;
    height: auto;
}

.about__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1rem;
}

.about__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

/*CONTENT*/

.about__title{
    font-size: 1.375rem;
    line-height: 1.625rem;
}

.about__paragraph{
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1rem;
}

.title__profile{
    width: 120px;
    height: auto;
    border-radius: 3rem;
}

@media screen and (min-width:768px){
    .about__container{
        flex-direction: row;
        column-gap: 2rem;

    }

    .about__text{
        justify-content: flex-start;
    }

    .title__profile{
        width: 180px;
        padding: 0.75rem;
    }
}


@media screen and (min-width:1024px){
       .about__title{
        font-size: 2rem;
       } 
       .about__paragraph{
        font-size: 1rem;
       }
}
