/*CONTAINERS*/
.title{
    padding: 4.375rem 1rem 1rem 1rem;
    background: #1E1E1E;
    color: #FFFFFF;
    height: auto;
    margin-bottom: 0;
}
.title__div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title__network{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.8rem;
    flex-wrap: wrap;
    background: #3B4C42;
    padding: 1rem;
    border-radius: 2rem;
}

.title__network__item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}



.icon{
    max-width: 32px;
    max-height: 30px;
}



@media screen and (min-width:1024px) {
    .title__container{
        gap:3rem;
    }

 
    .title__div{
        row-gap: 1rem;
    }
    

    .title__bio{
        font-size: 52px;
    }
    .title__subsection{
        font-size: 22px;
    }
    .title__network{
        gap:2rem;
    }
}