.academic__courses__item__subtitle{
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .academic__courses__item__subtitle{
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1rem;
        margin: 0;
    }

}