.formcontato__input{
    max-width: 100%;
    height: 3.5rem; 
    background: #FFFFFF;
    border: 0;
    border-bottom: 0.1871rem solid #DFDFDF;
    outline: none;
}

.formcontato__input:focus {
    border-color: rgb(20, 45, 185);
    outline: 1px dotted #0e215f
}

@media screen and (max-width: 576px) {
    .formcontato__input{
        width: 296px;
        height: 56px;
    }
}