.title__div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .title__div{
        flex-direction: column;
        row-gap: 1rem;
    }

}