.title__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 4rem;
}

@media screen and (max-width: 992px) {
    .title__container{
        justify-content: center;
        gap:0.4rem;
    }
}

@media screen and (max-width: 576px) {
    .title__container{
        gap: 0.6rem;
    }

}
