.hobbies__line{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem
}

@media screen and (max-width: 992px) {
    .hobbies__line{
      flex-wrap: wrap;
      column-gap: 1;
      gap: 1rem
    }
  }

  @media screen and (max-width: 576px) {
    .hobbies__line{
      justify-content: space-evenly;
    }
  }
  